body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DA7B7B;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #ff3f6c;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.nav-links a:hover {
    color: #ff3f6c;
}

.search-bar input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.icons a {
    margin-left: 15px;
}

.icons img {
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .search-bar {
        display: none;
    }
}

@media (min-width: 769px) {
    .nav-links {
        display: flex;
    }

    .search-bar {
        display: block;
    }
}


.sections {
    padding: 20px;
}

.video-section {
    margin-bottom: 40px;
    text-align: center; /* Center the content within each section */
}

.video-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.video-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.video-column {
    flex: 1;
    max-width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
}

.video-column iframe {
    width: 100%;
    height: 240px;
}